<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sellers.mapper.TUserMapper">
  <resultMap id="BaseResultMap" type="org.sellers.domain.TUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="USER_ID" jdbcType="DECIMAL" property="userId" />
    <result column="REAL_NAME" jdbcType="VARCHAR" property="realName" />
    <result column="GENDER" jdbcType="CHAR" property="gender" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="PHONE_NUMBER" jdbcType="DECIMAL" property="phoneNumber" />
    <result column="USER_TYPE" jdbcType="CHAR" property="userType" />
    <result column="ADDRESS" jdbcType="OTHER" property="address" />
    <result column="BIRTHDAY" jdbcType="TIMESTAMP" property="birthday" />
    <result column="PRODUCT_ID" jdbcType="DECIMAL" property="productId" />
    <result column="USER_INFOR_ID" jdbcType="DECIMAL" property="userInforId" />
    <result column="PAYER_ID" jdbcType="DECIMAL" property="payerId" />
  </resultMap>
</mapper>